<div class="m-header">
    <div class="header-left">
        <div class="sidebar"></div>
    </div>
    <div class="header-right">
    </div>
</div>
<div class="m-navbar">
    <div class="m-menu-item m-menu-selected">
        <div class="m-menu-icon"><i class="fas fa-users"></i></div>
        <div class="m-menu-text">Danh sách nhân viên</div>
    </div>
    <div class="m-menu-item">
        <div class="m-menu-icon"><i class="fas fa-user"></i></div>
        <div class="m-menu-text">Danh sách khách hàng</div>
    </div>
    <div class="m-menu-item">
        <div class="m-menu-icon"><i class="fas fa-flag"></i></div>
        <div class="m-menu-text">Báo cáo</div>
    </div>
    <div class="m-menu-item">
        <div class="m-menu-icon">
            <i class="fas fa-cog"></i></div>
        <div class="m-menu-text">Cài đặt</div>
    </div>
</div>

<div class="m-content">
    <div class="m-page-header">
        <div class="m-page-title">Danh sách nhân viên</div>
        <div class="m-page-button">
            <button class="m-btn m-btn-icon" id="btnAdd">Thêm Nhân Viên</button>
        </div>
    </div>
    <div class="m-toolbar">
        <div class="m-toolbar-left">
            <input type="text" class="m-input" />
            <select class="m-combobox">
                <option value="0"> Nam</option>
                <option value="1"> Nữ</option>
                <option value="2"> Khác</option>
            </select>
        </div>
    <div class="m-grid">
        <div class="m-grid-table"><table class="m-table">
            <thead>
                <tr>
                    <th class="text-align-left">STT</th>
                    <th class="text-align-left">MaNV</th>
                    <th class="text-align-left">Ho Va Ten</th>
                    <th class="text-align-center">SDT</th>
                    <th class="text-align-right">Tien Luong</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-align-left">01</td>
                    <td class="text-align-left">MF01</td>
                    <td class="text-align-left">Nguyen Van A</td>
                    <td class="text-align-center">0123678</td>
                    <td class="text-align-right">100000</td>
                </tr>
            </tbody>
            
            <tbody>
                <tr class="m-row-selected">
                    <td class="text-align-left">02</td>
                    <td class="text-align-left">MF02</td>
                    <td class="text-align-left">Nguyen Van B</td>
                    <td class="text-align-center">012678</td>
                    <td class="text-align-right">200000</td>
                </tr>
            </tbody>
        
            <tbody>
                <tr>
                    <td class="text-align-left">03</td>
                    <td class="text-align-left">MF01</td>
                    <td class="text-align-left">Nguyen Van C</td>
                    <td class="text-align-center">017478</td>
                    <td class="text-align-right">50000</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="text-align-left">03</td>
                    <td class="text-align-left">MF01</td>
                    <td class="text-align-left">Nguyen Van C</td>
                    <td class="text-align-center">017478</td>
                    <td class="text-align-right">50000</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="text-align-left">03</td>
                    <td class="text-align-left">MF01</td>
                    <td class="text-align-left">Nguyen Van C</td>
                    <td class="text-align-center">017478</td>
                    <td class="text-align-right">50000</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="text-align-left">03</td>
                    <td class="text-align-left">MF01</td>
                    <td class="text-align-left">Nguyen Van C</td>
                    <td class="text-align-center">017478</td>
                    <td class="text-align-right">50000</td>
                </tr>
            </tbody> 
            <tbody>
                <tr>
                    <td class="text-align-left">03</td>
                    <td class="text-align-left">MF01</td>
                    <td class="text-align-left">Nguyen Van C</td>
                    <td class="text-align-center">017478</td>
                    <td class="text-align-right">50000</td>
                </tr>
            </tbody> 
            <tbody>
                <tr>
                    <td class="text-align-left">03</td>
                    <td class="text-align-left">MF01</td>
                    <td class="text-align-left">Nguyen Van C</td>
                    <td class="text-align-center">017478</td>
                    <td class="text-align-right">50000</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="text-align-left">03</td>
                    <td class="text-align-left">MF01</td>
                    <td class="text-align-left">Nguyen Van C</td>
                    <td class="text-align-center">017478</td>
                    <td class="text-align-right">50000</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="text-align-left">03</td>
                    <td class="text-align-left">MF01</td>
                    <td class="text-align-left">Nguyen Van C</td>
                    <td class="text-align-center">017478</td>
                    <td class="text-align-right">50000</td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>
    
    <div class="m-paging">
        <div class="m-paging-left">Hiển thị<b> 10/100 nhân viên</b></div>
        <div class="m-paging-center">
            <button class="btn-first-page"></button>
            <button class="btn-prev"></button>
            <div class="group-number-page">
                <button class="btn-page-index m-button-selected">1</button>
                <button class="btn-page-index">2</button>
                <button class="btn-page-index">3</button>
                <button class="btn-page-index">4</button>
            </div>
            <button class="btn-next"></button>
            <button class="btn-last-page"></button>
        </div>
        <div class="m-paging-right">
            <select class="m-combobox">
                <option value="0"> Nam</option>
                <option value="1"> Nữ</option>
                <option value="2"> Khác</option>
            </select>
        </div>
    </div>
</div>   





